
<div class="row mt-5">
  <div class="col-2"></div>
  <div class="col-8">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <button type="button" class="btn btn-outline-primary">
        <a routerLink="/deployments">Deployments</a>
          </button>
      </li>
      <li class="nav-item">

        <button type="button" class="btn btn-outline-primary">
        <a routerLink="/sensors">Sensors</a>
        </button>
      </li>
      <li class="nav-item">

        <button type="button" class="btn btn-outline-primary">
        <a routerLink="/gateways">Gateways</a>
        </button>
      </li>
    </ul>


  </div>
</div>

<router-outlet></router-outlet>
