
<div class="deployment-div mt-4">
  <div class="m-4">
    <h4>Delete deployment and all data</h4>
    <button type="button" (click)="openModal(deletion)" class="btn btn-outline-danger m-2">DELETE DEPLOYMENT</button>
  </div>
</div>

<ng-template #deletion>
  <div class="modal-body text-center bg-custom">
    <p>You are about to delete this deployment.</p>
    <button type="button" class="btn btn-outline-danger m-1 " (click)="deleteDeployment()">DELETE</button>
    <button type="button" class="btn btn-outline-dark m-1" (click)="decline()">Not yet</button>
  </div>
</ng-template>
