<div *ngIf="deployment">
  <h2 class="m-5">{{deployment.name}}</h2>
  <div class="deployment-div m-3">
    <div class="m-3">
      <form (submit)="saveChangesForm()">
        <div class="form-group">
          <label for="deploymentName">Deployment name</label>
          <input [(ngModel)]="depDTO.name" name="name" type="text" class="form-control" id="deploymentName"
                 placeholder="Enter deployment name">
        </div>
        <div class="form-group">
          <label for="deploymentDescription">Deployment description</label>
          <input [(ngModel)]="depDTO.description" name="deploymentDescription" type="textarea" class="form-control"
                 id="deploymentDescription" placeholder="Enter deployment description">
        </div>
        <button type="submit" class="btn btn-primary mr-4">Save Changes</button>
        <button (click)="discardChanges()" class="btn btn-danger">Discard Changes</button>
      </form>
    </div>
  </div>
</div>

<div class="deployment-div m-3">
  <div class="m-3">
    <h4>Sensors</h4>
    <small>To place a sensor: <br>1. Click on the map to place a marker <br> 2. Click on the marker to remove it <br> 3.
      Click on senor name to show its position</small>
    <div class="m-3">
      <p>Free sensors</p>
      <div class="row">
        <div *ngFor="let sn of sensors">
          <div class="col-1" *ngIf="sn.chosen == false">
            <button type="button" (click)="addSensorToDeploy(sn.sensor._id)" class="btn btn-outline-dark"
                    disabled>{{sn.sensor.name}}</button>
          </div>
        </div>
      </div>
    </div>

    <div class="m-3">
      <p>Placed sensors</p>
      <div class="row">
        <div *ngFor="let sn of sensors">
          <div class="col-1" *ngIf="sn.chosen == true">
            <button type="button" (click)="showLocation(sn.sensor._id)"
                    class="btn btn-outline-success">{{sn.sensor.name}}</button>
          </div>
        </div>
      </div>
    </div>


    <agm-map
      [latitude]="46.04840798323542"
      [longitude]="14.506113341719598"
      [zoom]="13"
      (mapClick)="addMarker($event.coords.lat, $event.coords.lng)"
      [mapTypeId]='mapType'
    >
      <agm-marker
        *ngFor="let sn of sensors"
        [latitude]="sn.latitude"
        [longitude]="sn.longitude"
        [opacity]="sn.alpha"
        [markerDraggable]="false"
        (markerClick)="removeSensor($event)"
      >
      </agm-marker>
    </agm-map>
    <p *ngIf="selectedMarker">
      Lat: {{ selectedMarker.lat }} Lng: {{ selectedMarker.lng }}
    </p>
  </div>
</div>


  <div class="deployment-div m-3">
    <div class="m-3">
      <h4>Gateways</h4>
      <small>Select the gateways by clicking on them. <br>Unselect the gateways in similar fashion. <br>Gateway location
        is
        not saved. Please remember it or write it down in deployment description. </small>
      <div *ngIf="gateways.length > 0">
        <p>Free gateways</p>
        <div class="row">
          <div *ngFor="let gw of gateways">
            <div class="col-1" *ngIf="gw.chosen == false">
              <button type="button" (click)="addGatewayToDeploy(gw.gateway._id)"
                      class="btn btn-outline-primary">{{gw.gateway.name}}</button>
            </div>
          </div>
        </div>


        <p>Selected gateways</p>
        <div class="row">
          <div *ngFor="let gw of gateways">
            <div class="col-1" *ngIf="gw.chosen == true">
              <button type="button" (click)="addGatewayToDeploy(gw.gateway._id)"
                      class="btn btn-outline-success">{{gw.gateway.name}}</button>
            </div>
          </div>
        </div>
      </div>

      <p>Gateway WiFi credentials</p>

        <form (submit)="saveChangesForm()">

          <div class="form-group">
            <label for="ssid">WiFi SSID</label>
            <input [(ngModel)]="wifis.ssid" name="name" type="text" class="form-control" id="ssid"
                   placeholder="Enter WiFi SSID">
          </div>


          <div class="form-group">
            <label for="deploymentDescription">WiFi password</label>
            <input [(ngModel)]="wifis.password" name="deploymentDescription" type="textarea" class="form-control"
                   id="password" placeholder="Enter WiFi password">
            </div>
        </form>


      <div *ngIf="gateways.length == 0">
        <p>No free gateways currently availale.</p>
      </div>
    </div>
  </div>
  <div class="deployment-div m-3">
    <div class="m-3">
      <h4>NOTE: Once the deployment is deployed, it cannot be changed!!!</h4>
      <button type="button" (click)="openModal(not_ok, ok)" class="btn btn-outline-danger">DEPLOY</button>
    </div>
  </div>

<app-delete-deployment [deployment]="deployment" [id]="id"></app-delete-deployment>

  <ng-template #not_ok>
    <div class="modal-body text-center bg-custom">
      <div *ngFor="let err of errorMessages">
        <p>{{err}}</p>
      </div>
      <button type="button" class="btn btn-outline-dark m-1" (click)="decline()">Close</button>
    </div>
  </ng-template>

  <ng-template #ok>
    <div class="modal-body text-center bg-custom">
      <p>You are about to deploy this deployment.</p>
      <button type="button" class="btn btn-outline-primary m-1 " (click)="deployDeployment(done, error)">Deploy</button>
      <button type="button" class="btn btn-outline-dark m-1" (click)="decline()">Not yet</button>
    </div>
  </ng-template>

<ng-template #done>
  <div class="modal-body text-center bg-custom">
    <p>Deployment was successfully deployed!</p>
    <button type="button" class="btn btn-outline-dark m-1" (click)="decline()">Close</button>
  </div>
</ng-template>

<ng-template #error>
  <div class="modal-body text-center bg-custom">
    <p>Error</p>

    <button type="button" class="btn btn-outline-dark m-1" (click)="decline()">Close</button>
  </div>
</ng-template>
