<h2 class="m-4 mt-5">Sensors</h2>
<div class="row mb-4 mx-1">

  <div *ngFor="let sensori of sensors" class="col-xl-6 col-lg-12 col-sm-12 m-0">

    <div class="sensor-div mb-4">
      <div class="row m-3">
        <div class="col-12">
          <h3>{{sensori.name}}</h3>
        </div>
        <div class="col-12">
          <div *ngIf="sensori.battery_voltage">
            <small>Battery voltage: </small>
            <p class="sensor-spec">{{sensori.battery_voltage | number : '.2-2'}} V</p>
          </div>

          <div *ngIf="sensori.firmware_version">
            <small>Firmware version: </small>
            <p class="sensor-spec">{{sensori.firmware_version}} V</p>
          </div>

          <div *ngIf="sensori.deployment_name">
            <small>Deployment: </small>
            <p class="sensor-spec">{{sensori.deployment_name}}</p>
          </div>
          <div *ngIf="sensori.current_location">
            <small>Location: </small>
            <p class="sensor-spec">{{sensori.current_location[0].toFixed(3)}}
              , {{sensori.current_location[1].toFixed(3)}}</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
