<div class="row m-4">
  <div class="col">
    <div class="m-5">
      <div *ngIf="creating == false">
        <button type="button" class="btn btn-outline-primary" (click)="switchCreating()">+</button>
      </div>
      <div *ngIf="creating == true">
        <button type="button" class="btn btn-outline-danger" (click)="switchCreating()"> -</button>
        <form (submit)="createDeployment()">
          <div class="form-group">
            <label for="deploymentName">Deployment name</label>
            <input [(ngModel)]="newdep.name" name="name" type="text" class="form-control" id="deploymentName"
                   placeholder="Enter deployment name">
          </div>
          <button type="submit" class="btn btn-primary">Create Deloyment</button>
        </form>

      </div>
      <div *ngIf="deployments && deployments.length == 0">
        <p>There are no deployments yet!</p>
      </div>
    </div>
    <h3>Not yet deployed</h3>
    <div *ngFor="let deployment of deployments">
      <div *ngIf="deployment.status == 'pending'">
      <a (click)="navigateToEdit(deployment._id)">
        <div class="deployment-div mb-4">
          <div class="row m-3">
            <div class="col-8">
              <h4>{{deployment.name}}</h4>
            </div>
            <div class="col-8">
              <p>{{deployment.description}}</p>
            </div>
            <div class="col-5">
              <small>tags</small>
            </div>
            <div class="col-4">

            </div>
          </div>
        </div>
      </a>
      </div>
    </div>

    <h3>Deployed</h3>
    <div *ngFor="let deployment of deployments">
      <div *ngIf="deployment.status == 'deployed'">
        <a (click)="navigateToEdit(deployment._id)">
          <div class="deployment-div mb-4">
            <div class="row m-3">
              <div class="col-8">
                <h4>{{deployment.name}}</h4>
              </div>
              <div class="col-8">
                <p>{{deployment.description}}</p>
              </div>
              <div class="col-5">
                <small>tags</small>
              </div>
              <div class="col-4">

              </div>
            </div>
          </div>
        </a>
      </div>
    </div>



    <h3>Finished</h3>
    <div *ngFor="let deployment of deployments">
      <div *ngIf="deployment.status == 'finished'">
        <a (click)="navigateToEdit(deployment._id)">
          <div class="deployment-div mb-4">
            <div class="row m-3">
              <div class="col-8">
                <h4>{{deployment.name}}</h4>
              </div>
              <div class="col-8">
                <p>{{deployment.description}}</p>
              </div>
              <div class="col-5">
                <small>tags</small>
              </div>
              <div class="col-4">

              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

  </div>
</div>
