<div class="row">
  <div class="col-12">

    <div class="deployment-div m-3 pr-5">
      <app-average-chart [id]="id"></app-average-chart>
    </div>

  </div>

</div>


<div class="deployment-div m-3">
  <div class="m-4">
    <h4>Sensing interval</h4>

    <form (submit)="saveChangesForm(bad_interval, updated_interval)">
      <div class="form-group">
        <label for="measurementInterval">Measurement interval</label>
        <input [(ngModel)]="depDTO.measurement_interval" name="measurement_interval" type="number" class="form-control"
               id="measurementInterval"
               placeholder="Enter deployment name">
      </div>
      <button type="submit" class="btn btn-primary mr-4">Save Changes</button>
    </form>
  </div>
</div>

<div class="deployment-div m-3 mt-4">
  <div class="m-4">
    <h4>NOTE: Once the deployment is ended, it cannot be redeployed back!!!</h4>
    <button type="button" (click)="openModal(confirm)" class="btn btn-outline-danger m-2">FINISH SENSING</button>
  </div>
</div>

<div class="m-3 mt-4">
  <app-delete-deployment [deployment]="deployment" [id]="id"></app-delete-deployment>
</div>


<ng-template #confirm>
  <div class="modal-body text-center bg-custom">
    <p>You are about to finish this deployment.</p>
    <button type="button" class="btn btn-outline-primary m-1 " (click)="finishDeployment()">Finish</button>
    <button type="button" class="btn btn-outline-dark m-1" (click)="decline()">Not yet</button>
  </div>
</ng-template>


<ng-template #bad_interval>
  <div class="modal-body text-center bg-custom">
    <p>Sensing interval must be greater or equal to 1s.</p>
    <button type="button" class="btn btn-outline-dark m-1" (click)="decline()">Close</button>
  </div>
</ng-template>

<ng-template #updated_interval>
  <div class="modal-body text-center bg-custom">
    <p>Sensing interval was updated.</p>
    <button type="button" class="btn btn-outline-dark m-1" (click)="decline()">Close</button>
  </div>
</ng-template>
