


<div class="row">
  <div class="col-12">

    <div class="deployment-div m-3">
      <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme"

        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [results]="average_data"
        [autoScale]=true
        [gradient]=true
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
      >
      </ngx-charts-line-chart>
    </div>

  </div>

</div>






<div class="deployment-div m-3">
  <div class="m-4">
    <h4>NOTE: Once the deployment is ended, it cannot be redeployed back!!!</h4>
    <button type="button" (click)="openModal(confirm)" class="btn btn-outline-danger m-2">FINISH SENSING</button>
  </div>
</div>

<ng-template #confirm>
  <div class="modal-body text-center bg-custom">
    <p>You are about to deploy this deployment.</p>
    <button type="button" class="btn btn-outline-primary m-1 " (click)="finishDeployment()">Finish</button>
    <button type="button" class="btn btn-outline-dark m-1" (click)="decline()">Not yet</button>
  </div>
</ng-template>
