






<div *ngIf="deployment">
  <h2 class="mt-5 ml-5 mb-3">{{deployment.name}}</h2>
  <p class="ml-5 mb-5">{{deployment.description}}</p>

  </div>
<div class="m-3">
<ul class="nav nav-tabs">

  <div *ngIf="openTab != 'overview'">
  <li class="nav-item">
    <a class="nav-link" (click)="switchTab('overview')">Overview</a>
  </li>
  </div>
  <div *ngIf="openTab == 'overview'">
    <li class="nav-item">
      <a class="nav-link active" (click)="switchTab('overview')">Overview</a>
    </li>
  </div>

  <div *ngIf="openTab != 'sensors'">
    <li class="nav-item">
      <a class="nav-link" (click)="switchTab('sensors')">Sensors</a>
    </li>
  </div>
  <div *ngIf="openTab == 'sensors'">
    <li class="nav-item">
      <a class="nav-link active" (click)="switchTab('sensors')">Sensors</a>
    </li>
  </div>

  <div *ngIf="openTab != 'gateways'">
    <li class="nav-item">
      <a class="nav-link" (click)="switchTab('gateways')">Gateways</a>
    </li>
  </div>
  <div *ngIf="openTab == 'gateways'">
    <li class="nav-item">
      <a class="nav-link active" (click)="switchTab('gateways')">Gateways</a>
    </li>
  </div>

  <div *ngIf="openTab != 'data'">
    <li class="nav-item">
      <a class="nav-link" (click)="switchTab('data')">Data</a>
    </li>
  </div>
  <div *ngIf="openTab == 'data'">
    <li class="nav-item">
      <a class="nav-link active" (click)="switchTab('data')">Data</a>
    </li>
  </div>

</ul>
</div>


<div *ngIf="openTab == 'sensors'">
  <app-deployment-sensor [deployment]="deployment" [id]="id"></app-deployment-sensor>
</div>

<div *ngIf="openTab == 'gateways'">
  <app-deployment-gateway [deployment]="deployment" [id]="id"></app-deployment-gateway>
</div>

<div class="deployment-div m-3">
  <div class="m-4">
    <h4>NOTE: Once the deployment is ended, it cannot be redeployed back!!!</h4>
    <button type="button" (click)="openModal(confirm)" class="btn btn-outline-danger m-2">FINISH SENSING</button>
  </div>
</div>

<ng-template #confirm>
  <div class="modal-body text-center bg-custom">
    <p>You are about to deploy this deployment.</p>
    <button type="button" class="btn btn-outline-primary m-1 " (click)="finishDeployment()">Finish</button>
    <button type="button" class="btn btn-outline-dark m-1" (click)="decline()">Not yet</button>
  </div>
</ng-template>


<!---
<ng-template #not_ok>
  <div class="modal-body text-center bg-custom">
    <div *ngFor="let err of errorMessages">
      <p>{{err}}</p>
    </div>
    <button type="button" class="btn btn-outline-dark m-1" (click)="decline()">Close</button>
  </div>
</ng-template>


--->
