<div class="row m-4">
  <div class="col">
    <div *ngIf="gateways && gateways.length == 0">
      <p>There are no gateways!</p>
    </div>
    <div *ngFor="let gateway of gateways">
      <div class="sensor-div mb-4">
        <div class="row m-3">
          <div class="col-3">
            <p>Name: {{gateway.name}}</p>
          </div>
          <div class="col-5">
            <p>Deployment: {{gateway.current_deployment}}</p>
            <p>Location: {{gateway.current_location[0]}}, {{gateway.current_location[1]}}</p>
            <p>MAC: {{gateway.mac}} </p>
          </div>
          <div class="col-4">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
